* {
  box-sizing: border-box;
  font-family: Tahoma;
  font-size: 13px;
}

body {
  padding: 8px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-family: Verdana;
  font-weight: bold;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 8px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

h3 {
  margin: 8px 0px;
}

input {
  padding: 4px;
}

button {
  padding: 4px 8px;
}

label {
  float: right;
}

.hide {
  display: none;
}

.flex-container {
  display: flex;
  margin-top: 8px;
}

.flex-box {
  flex: 0 0 33.3333%;
  padding: 4px;
}

.flex-box select, textarea {
  width: 100%;
  height: 420px;
  margin-bottom: 8px;
}

.details {
  color: grey;
  margin-top: 8px;
  padding-left: 0px;
  list-style-type: none;
}

#repo {
  margin: 0px 4px;
  width: 33.3333%;
}

#path {
  width: 65%;
}

#branch {
  width: 32%;
  padding: 4px 0px;
}

#info {
  cursor: pointer;
}

#infobox {
  position:absolute;
  border: 1px solid black;
  background:white;
}

#infobox ul, ol {
  margin: 0px;
  padding-left: 0px;
}

#infobox ul {
  list-style-type: none;
}

#infobox ol {
  list-style-position: inside;
}

#range {
  float: right;
}

#content {
  white-space: pre;
  overflow: auto;
  resize: none;
}
